<!DOCTYPE html>
<html lang="en">

  <head>
    [[META]]
  </head>

  <body>

    <h1>Register users</h1>

    <form id="registerForm">
        <input type="username" name="username" id="usernameField" placeholder="username" />
        <input type="email" name="email" id="emailField" placeholder="email" />
        <input type="password" name="password" id="passwordField" placeholder="password" />
        <button type="submit">login</button>
    </form>

    <h1>Current users</h1>

    <ul id="userList">

    </ul>

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/js/mdb.min.js"></script>
    <!-- JQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>
        function clearRegistrationForm() {
            $('#emailField').val('');
            $('#passwordField').val('');
            $('#usernameField').val('');
        }

        function registerUser(email, password, username, successCallback) {
            $.post({
                url: '/auth/register',
                data: {
                    email,
                    password,
                    username
                },
                success: successCallback
            })
        }

        function fetchUsers(successCallback) {
            $.get({
                url: '/users',
                success: successCallback
            });
        }

        function updateUsersList() {
            fetchUsers((users) => {
                $('#userList').html(
                    users.map(user => '<li>' + user.email + '</li>')
                );
            });
        }

        $('#registerForm').submit((event) => {
            event.preventDefault();

            const username = $('#usernameField').val();
            const email = $('#emailField').val();
            const password = $('#passwordField').val();
            registerUser(email, password, username, () => {
                console.log('user created');
                clearRegistrationForm();
                updateUsersList();
            });
        });

        $(document).ready(() => {
            updateUsersList();
        });
    </script>

  </body>

</html>
